.nav-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
}

.div-btn-login {
    align-items: center;
    display: flex;
    padding-right: 10px;
}

.div-btn-logo {
    align-items: center;
    display: flex;
    padding-left: 10px;
}