* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(185, 184, 184);
    background-position: center;
    background-size: cover;
    height: 100vh;
}